body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/*global*/
.container{
    width: 80%;
   margin: auto;
   overflow: hidden;
}

 ul{
    margin: 0;
    padding: 0;
}

.button1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}




header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 15px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background: url('../img/abc.jpg') no-repeat 0 -150px ;
    text-align: center;
    color: #cccccc;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
    }

 #newsletter h1{
     text-align: center;
 }   


 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

#newsletter form{
    float: right;
    margin-top: 15px;
}



#boxes{
    margin-top: 50px;
}

#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 1  0px;
}

#boxes .box img{
    width: 300px;
}

footer{
    padding: 10px;
    margin-top: 10px;
    color: #ffffff; 
    background-color: #e8491d;
    text-align: center; 
    font-size: 20px;
}