*{
    margin: 0px;
}
div{
 
    background-color: blueviolet;
    text-align: center;
    color: wheat;
    margin: 1px;
    border-color: black;
}

#a{
    background-color: red;
    color: black;
}

#d{
    background-color: darkblue;
    color:yellow;
}

